/* -------- Importing Google Font -------- */
@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,regular,500,600,700,800);

/* -------- Variables -------- */
:root {
  --primary-color: #e0bc75;
  --primary-hover: #af935b;
  --white: #ffffff;
  --secondary-white: #F7F8FC;
  --offwhite: #F5F5F5;
  --black: #000000;
}

/* -------- Global -------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

/* -------- Custom Scroll Bar CSS Starts Here -------- */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* -------- Navigation Bar CSS Starts Here -------- */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.logo {
  width: 90px;
}

.logo img {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 15px;
  font-weight: 600;
  transition: 0.2s all ease-in-out;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu li:last-child {
  background-color: var(--primary-color);
}

.menu a:hover {
  opacity: 0.7;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked~.menu {
  transform: scale(1, 1);
}

/* -------- Navigation Bar CSS For Touch Screen Devices -------- */
@media only screen and (max-width: 950px) {
  nav {
    padding: 10px 20px;
  }

  .menu {
    flex-direction: column;
    background-color: var(--white);
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
    font-size: 15px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: var(--black);
    font-size: 28px;
    cursor: pointer;
  }
}

/* -------- Home Page CSS Starts Here -------- */
.banner {
  height: calc(100vh - 81px);
  background-image: linear-gradient(76deg,
      rgba(100, 100, 110, 0.83),
      rgba(25, 26, 31, 0.28)),
    url(assets/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  margin: 0 40px;
}

.wrapper {
  margin: 0 15%;
}

.hero {
  text-align: center;
}

.hero h1 {
  margin-bottom: 10px;
  font-size: 4rem;
  color: var(--white);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.hero p {
  margin-bottom: 30px;
  font-size: 1.2rem;
  color: var(--white);
  letter-spacing: 0.5px;
}

.hero a {
  background-color: var(--primary-color);
  padding: 10px 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.hero a:hover {
  background-color: var(--primary-hover);
}

/* -------- Home Page CSS For Touch Screen Devices -------- */
@media only screen and (max-width: 950px) {
  .banner {
    margin: 0 20px;
  }

  .wrapper {
    margin: 0 5%;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .hero a {
    font-size: 0.9rem;
  }
}

/* -------- Services Page CSS Starts Here -------- */
#services {
  padding: 50px 0;
  text-align: center;
}

#services h2 {
  font-size: 2.3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  margin-top: 30px;
}

.service {
  background-color: var(--secondary-white);
  padding: 20px;
  text-align: left;
}

.service img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.service h3 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.service p {
  font-size: 16px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.service a {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--black);
  padding: 10px 20px;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.service a:hover {
  background-color: var(--primary-hover);
}

/* -------- About Us Page CSS Starts Here -------- */
.about-us {
  background-image: linear-gradient(76deg,
      rgba(100, 100, 110, 0.83),
      rgba(25, 26, 31, 0.28)), url(https://nuuk-e3eaa.firebaseapp.com/assets/img/banner-2.jpg);
  background-attachment: fixed;
  padding: 50px 0;
  margin: 0 40px;
}

.about-us h2 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: var(--white);
}

.about-us-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us-content img {
  width: 500px;
  margin-right: 50px;
  filter: grayscale(80%);
}

.about-us-content p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--white);
}

.about-us-content a {
  color: var(--white);
  background-color: var(--primary-color);
  padding: 10px 20px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all .2s ease-in-out;
}

.about-us-content a:hover {
  background-color: var(--primary-hover);
}

/* -------- About Us Page For Touch Screen Devices -------- */
@media only screen and (max-width: 1350px) {
  .about-us {
    margin: 0 20px;
  }

  .about-us-content img {
    margin: 0;
  }

  .about-us-content {
    flex-direction: column;
  }

  .about-us-content img {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 550px) {
  .about-us-content img {
    width: 300px;
  }
}

/* -------- Testimonials Page CSS Starts Here -------- */
.testimonials {
  margin: 30px 0;
}

.testimonials h2 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.testimonial-card {
  background-color: var(--offwhite);
  padding: 20px;
  margin-bottom: 20px;
}

.testimonial-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial-card .testimonial-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: justify;
}

.testimonial-card .testimonial-author {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--primary-color);
}

/* -------- ReModelling Project Page CSS Starts Here -------- */
.project-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.project-section h2 {
  font-size: 36px;
  font-size: 2.3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 40px;
}

.project-details {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.project-details img {
  max-width: 600px;
  margin-bottom: 30px;
}

.project-description p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}

.project-description ul {
  list-style: none;
  margin-bottom: 20px;
}

.project-description li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 500;
}

.btn {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

/* -------- ReModelling Project Page For Touch Screen Devices -------- */
@media only screen and (max-width: 1380px) {
  .project-details img {
    width: 400px;
  }

  .project-section {
    margin: 0 20px;
  }

  .project-details {
    flex-direction: column;
  }
}

@media only screen and (max-width: 550px) {
  .project-details img {
    width: 300px;
  }
}

/* -------- Contact Us Page CSS Starts Here -------- */
#contact {
  background-color: #f7f7f7;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  outline: none;
  border: none;
  letter-spacing: 1px;
  border-bottom: 2px solid var(--primary-color);
  font-size: 16px;
  padding: 5px;
  resize: none;
}

button[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 20px;
  transition: all 0.2s ease;
}

button[type="submit"]:hover {
  background-color: var(--primary-hover);
}

/* -------- Footer Page CSS Starts Here -------- */
footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

footer h3 {
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

footer ul li {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

footer ul li i {
  margin-right: 10px;
  font-size: 18px;
}

footer hr {
  border-color: #fff;
}

footer p.text-center {
  margin-top: 20px;
  font-size: 12px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li a {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.social-icons li a:hover {
  color: var(--primary-hover);
}